@main-blue: #3366FF;
@main-red: #FF333F;
@main-lime: #00D68F;
@main-orange: #FF9533;

@blue-bg: #778DFF;
@red-bg: #F86060;
@lime-bg: #64E562;
@orange-bg: #FFB978;

@gray: #8F9BB3;

@light-blue: fade(@main-blue, 20%);
@light-red: fade(@main-red, 20%);
@light-lime: fade(@main-lime, 20%);
@light-orange: fade(@main-orange, 20%);

@chart-hover: rgba(#8791AB, .4); // need to do linear gradient

@black: #000000;
@green: #008A0E;
@gray: #C4C4C4;


@form-control-label-color: rgba(@black, .4);
